<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="navigateTo('/counsellor-profile')">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="navigateTo('/counsellor-notifications')">
    <ion-icon name="notifications-outline"></ion-icon>
    <ion-label>Notifications</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="navigateTo('/counsellor-payment-settings')">
    <ion-icon name="cash-outline"></ion-icon>
    <ion-label>Payment</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="toggleStatus()">
    <ion-icon [name]="isActive ? 'toggle-outline' : 'toggle-off-outline'"></ion-icon>
    <ion-label>{{ isActive ? 'Active' : 'Inactive' }}</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="navigateToCall()" [disabled]="!activeBookingId">
    <ion-icon name="call-outline"></ion-icon>
    <ion-label>Call</ion-label>
  </ion-tab-button>
</ion-tab-bar>