<ion-header>
  <ion-toolbar>
    <ion-title>User Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-input type="date" [(ngModel)]="dob" name="dob" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" name="gender" required>
        <ion-select-option value="M">Male</ion-select-option>
        <ion-select-option value="F">Female</ion-select-option>
        <ion-select-option value="O">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit" class="ion-margin-top">Register</ion-button>
  </form>
</ion-content>