<ion-header>
  <ion-toolbar style="#33CEA4">
    <ion-title>Counsellor App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="wave-bg">
    <div class="wave-layer-1"></div>
    <div class="wave-layer-2"></div>
  </div>
  
  <div class="button-group">
    <ion-button expand="block" shape="round" style="#33CEA4" (click)="goToUserHelp()">
      I Need Help
    </ion-button>
    <ion-button expand="block" shape="round" style="#33CEA4" (click)="goToCounsellorRegister()">
      Duty Counsellor Registration
    </ion-button>
  </div>
</ion-content>